<!--header-->
<header>
  <div class='container'>
    <!--    navbar mobile-->
    <nav [class.invisible]='isActiveNavbar' class='flex items-center justify-between py-6'>
      <div>
        <img src='/assets/images/logo.svg' alt='Logo'>
      </div>

      <!--    hamburger-->
      <div (click)='isActiveNavbar = true' class='cursor-pointer md:hidden'>
        <img src='/assets/images/icon-hamburger.svg' alt='Hamburger'>
      </div>
      <!--    end hamburger-->

      <!--      links-->
      <ul class='flex items-center gap-8 uppercase tracking-wider font-medium text-muted hidden md:flex'>
        <li>
          <a href='#'>How work</a>
        </li>
        <li>
          <a href='#'>Blog</a>
        </li>
        <li>
          <a href='#'>Account</a>
        </li>
        <li><a class='btn btn-outline-dark' href='#'>View Plans</a></li>
      </ul>
      <!--      end links-->
    </nav>
    <!--    end navbar mobile-->
  </div>
</header>
<!--end header-->

<!--modal open navbar-->
<lbk-modal-ng-content *ngIf='isActiveNavbar'>
  <header class='w-full h-full bg-dark'>
    <nav class='py-6 bg-fill'>
      <div class='container flex items-center justify-between'>
        <div>
          <img src='/assets/images/logo.svg' alt='Logo'>
        </div>

        <!--    hamburger-->
        <div (click)='isActiveNavbar = false' class='cursor-pointer'>
          <img src='/assets/images/icon-close.svg' alt='Close'>
        </div>
        <!--    end hamburger-->
      </div>
    </nav>

    <!--    links-->
    <div class='relative h-[calc(100%-80px)]'>
      <div class='container'>
        <!--        pattern-->
        <img class='absolute bottom-0 left-0  w-full object-contain'
             src='/assets/images/bg-pattern-mobile-nav.svg'
             alt='Pattern'>
        <!--        end pattern-->

        <ul
          class='flex flex-col items-center pt-14 space-y-14  uppercase font-semibold text-lg text-inverted tracking-widest'>
          <li>
            <a href='#'>How we work</a>
          </li>
          <li>
            <a href='#'>Blog</a>
          </li>
          <li>
            <a href='#'>Account</a>
          </li>
          <li class='w-full'>
            <a class='btn btn-outline-white block' href='#'>View plans</a>
          </li>
        </ul>
      </div>
    </div>
    <!--    end links-->

  </header>

</lbk-modal-ng-content>
<!--end modal open navbar-->
