<footer class='relative container--large'>
  <!--  pattern-->
  <!-- mobile -->
  <img class='absolute lg:hidden' src='/assets/images/bg-pattern-footer-mobile.svg' alt='Pattern'>
  <!-- end mobile -->

  <!-- desktop -->
  <img class='absolute hidden lg:block' src='/assets/images/bg-pattern-footer-desktop.svg' alt='Pattern'>
  <!-- end desktop -->

  <!--  end pattern-->


  <div class='container flex flex-col items-center justify-center py-32'>

    <div class='w-full flex flex-col gap-10 items-center lg:flex-row lg:justify-between'>
      <!--   logo -->
      <div>
        <img src='/assets/images/logo.svg' alt='Logo'>
      </div>
      <!--   end logo -->


      <!--    socials-->
      <ul class='flex gap-4 items-center'>
        <!--      facebook-->
        <li>
          <a href='#'>
            <img src='/assets/images/icon-facebook.svg' alt='Facebook'>
          </a>
        </li>
        <!--      end facebook-->

        <!--      twitter-->
        <li>
          <a href='#'>
            <img src='/assets/images/icon-twitter.svg' alt='Twitter'>
          </a>
        </li>
        <!--      end twitter-->

        <!--      pinterest-->
        <li>
          <a href='#'>
            <img src='/assets/images/icon-pinterest.svg' alt='Pinterest'>
          </a>
        </li>
        <!--      end pinterest-->

        <!--      instagram-->
        <li>
          <a href='#'>
            <img src='/assets/images/icon-instagram.svg' alt='Instagram'>
          </a>
        </li>
        <!--      end instagram-->
      </ul>
      <!--    end socials-->
    </div>

    <!--    line decorate-->
    <div class='h-[2px] bg-gray-300 w-full my-10'></div>
    <!--    end line decorate-->

    <div class='w-full flex flex-col gap-8 lg:flex-row lg:justify-between'>
      <!--      out company-->
      <div>
        <p class='text-center text-muted uppercase tracking-wider font-medium lg:text-left'>Out Company</p>

        <ul class='mt-6 uppercase text-gray-700 font-semibold flex flex-col items-center gap-2 lg:items-start'>
          <li>
            <a href='#'>How we work</a>
          </li>
          <li>
            <a href='#'>Why insure?</a>
          </li>
          <li>
            <a href='#'>Check price</a>
          </li>
          <li>
            <a href='#'>Reviews</a>
          </li>
        </ul>
      </div>
      <!--      end out company-->

      <!--      help me-->
      <div>
        <p class='text-muted text-center uppercase tracking-wider font-medium lg:text-left'>Help me</p>

        <ul class='mt-6 uppercase text-gray-700 font-semibold flex flex-col items-center gap-2 lg:items-start'>
          <li>
            <a href='#'>faq</a>
          </li>
          <li>
            <a href='#'>Terms of use</a>
          </li>
          <li>
            <a href='#'>Privacy policy</a>
          </li>
          <li>
            <a href='#'>Cookies</a>
          </li>
        </ul>
      </div>
      <!--      end help me-->

      <!--      contact-->
      <div>
        <p class='text-muted text-center uppercase tracking-wider font-medium lg:text-left'>Contact</p>

        <ul class='mt-6 uppercase text-gray-700 font-semibold flex flex-col items-center gap-2 lg:items-start'>
          <li>
            <a href='#'>Sales</a>
          </li>
          <li>
            <a href='#'>Support</a>
          </li>
          <li>
            <a href='#'>Live chat</a>
          </li>
        </ul>
      </div>
      <!--      end end contact-->

      <!--      others-->
      <div>
        <p class='text-muted text-center uppercase tracking-wider font-medium lg:text-left'>Others</p>

        <ul class='mt-6 uppercase text-gray-700 font-semibold flex flex-col items-center gap-2 lg:items-start'>
          <li>
            <a href='#'>Careers</a>
          </li>
          <li>
            <a href='#'>Press</a>
          </li>
          <li>
            <a href='#'>Licenses</a>
          </li>
        </ul>
      </div>
      <!--      end end others-->

    </div>
  </div>
</footer>
