@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  :root {
    // colors
    --dark-violet: 256, 26%, 20%;
    --grayish-blue: 216, 30%, 68%;
    --very-dark-violet: 270, 9%, 17%;
    --dark-grayish-violet: 273, 4%, 51%;
    --very-light-gray: 0, 0%, 98%;

    // text colors
    --text-fill: var(--very-dark-violet);
    --text-muted: var(--dark-grayish-violet);
    --text-inverted: var(--very-light-gray);

    // backgrounds colors
    --bg-fill: var(--very-light-gray);
    --bg-dark: var(--very-dark-violet);
    --bg-intro: var(--dark-violet);
    --bg-footer: var(--grayish-blue);
  }
}

@layer components {
  .container-large {
    max-width: 1440px;
    margin: 0 auto;
  }

  //CUSTOM APPLY HERE
  .btn {
    @apply inline-block text-center px-3 py-3;
  }

  .btn-outline-white {
    @apply border-2 border-white hover:bg-white hover:text-black;
  }

  .btn-outline-dark {
    @apply border-2 border-gray-600 py-2 px-6 font-bold hover:bg-black hover:text-white;
  }
}
